.lightblue{
    background: transparent;
}

.purple {
    background: transparent;
}

.pink {
    background: transparent;
}

.dullpurple {
    background: transparent;
}

.gunmetal {
    background: transparent;
}

.brown {
    background: transparent;
}

.orange {
    background: transparent;
}

.salmon {
    background: transparent;
}

.transparent {
    background: transparent;
}

.white {
    background: transparent;
}

.test {
    background: transparent;
}

.yellow{
    background: transparent;
}
  
.farrari {
    background: transparent;
}

.red{
    background: transparent; 
}
  
.slate {
    background: transparent;
}

.blue{
    background: transparent;
}
  
.green{
    background: transparent;
}

.gray {
    background: #565051;
}

.darkgray {
    background: transparent;
}