.lyncUsername {
    font-size: 14pt;
    padding-left: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.lyncLocation {
    overflow: hidden;
    font-size: 12pt;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.lyncPresence {
    font-size: 4pt;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    border: 3px solid rgba(255,255,255,0.1);
    vertical-align: middle;
    text-align: center;
}

.lyncPresence_Online {
    border-left: 5px solid rgba(0,255,0,0.9);
    border-bottom: 1px solid rgba(0,255,0,0.2);
}

.lyncPresence_Offline {
    border-left: 5px solid transparent;
    color: rgba(255,255,255,0.4);
}

.lyncPresence_BeRightBack {
    border-left: 5px solid rgba(255, 255, 0,1)
}

.lyncPresence_DoNotDisturb {
    border-left: 5px dashed rgba(255,0,0,0.8);
}

.lyncPresence_IdleOnline {
    border-left: 5px solid rgba(255, 255, 0,1)
}

.lyncPresence_IdleBusy {
    border-left: 5px solid rgba(255, 255, 0,1)
}

.lyncPresence_Away {
    border-left: 5px solid rgba(255, 255, 0,1)
}

.lyncPresence_Busy {
    border-left: 5px solid rgba(255,0,0,0.8);
}

.lyncLocation_Offline {
    color: rgba(255,255,255,0.4);
}

.lyncTD {
    border: 0;
}

.lyncTR {
    border: 0;
}

.lync_updating {
    font-size: 10pt;
    color: rgba(255,255,255,0.3);
}