#body_it_1 {
    background-image: url('christmasbg.png') !important; /**/
}
#body_it_3 {
    background-image: url('forest_3.jpg') !important; /**/
}

#body_ss {
    background-image: url('christmasbg.png') !important; /**/
}

#body_transport {
}

.titlebar {
}

#weather_table {
}

#titlebar_1 {
}

#titlebar_2 {
}


.weather_heading {
    color: black;
    border: 0;
    border-bottom: 1px solid white;
    font-size: 10pt;
}


#current_date {
}

#current_time {

}

.weather_table {
    color: black;
}

#time_second {}

#weather_detail {

}

.blue{
}

#spare_tile {
}

#xmas_floatie_1 {
    display: inline-block !important;
    position: absolute;
    top: 20px;
    left: 5px;
    width: 120px;
    height: 120px;
    animation: ghost 10s infinite linear;
    z-index: 999;

}

#xmas_floatie_2 {
    position: absolute;
    top: 90px; /* 20px */
    right: -25px; /* 1040px */
    width: 100px;
    height: 100px;
    display: inline-block !important;
}

#xmas_floatie_3 {
    display: inline-block !important;
    position: absolute;
    bottom: 10px; /* 20px */
    right: -10px; /* 1040px */
    width: 200px;
    height: 200px;
    z-index: 999;
}


@keyframes ghost {
  10%  {
    transform:scale(1) rotate(-2deg);
    }

  50%  {
    transform:scale(1.1) rotate(6deg);
    }

  90%  {
    transform:scale(1) rotate(-2deg);
    }
}

@keyframes ghost2 {
  10%  {
    transform:scale(1) rotate(-7deg);
    }

  50%  {
    transform:scale(1.2) rotate(3deg);
    }

  90%  {
    transform:scale(1) rotate(-3deg);
    }
}

.graysemitrans {
    background-color: rgba(70, 64, 65, 0.8);
}
