/*
    This is the seasonal CSS file for Spring
*/

body {
    background-image: url('black_skull_bg.png') !important;

}

.titlebar {
    background-image: url('bg.png') !important;
    background-color: rgb(196, 98, 0) !important; /* FAAFBE */
    color: white !important;
    background-repeat:  repeat !important;
    text-shadow:
            1px 1px 0 #000,
            1px 1px 0 #000,
            1px 1px 0 #000,
            1px 1px 0 #000
;
}

#titlebar_1 {
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

#titlebar_2 {
    background-repeat: no-repeat;
    background-position: -1152px 0px;

}

#weather_tile {
    background-repeat: no-repeat;
    background-position: -1536px 0px;
}

.weather_heading {
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    font-size: 10pt;
}

#weather_temp_feelslike {
    color: white;
}
#weather_detail_description {
    color: white;
}

#weather_temp_feelslike {
    color: white;
}

#weather_tile {
    color: white;
}

#weather_temp {
    color: white;
}

.weather_detail {
    color: white;
}

#current_time {
    color: white;
}

#time_second {
    color: white !important;
}

#lync_tile {
}

.cobweb_right {
}

.cobweb {
}

.pumpkin_tile {
    background-image: url('DOD_Skull_1.png');
    background-repeat: no-repeat;
    background-position: center;
}

#jack1 {
   
}

#jack2 {
     }

#ghost {
}

#ghost2 {
}

.transportation_page_container {
    background-color: rgb(46, 19, 64) !important;
    color: black !important;
}

.transportation_title {
    color: white;
}

