.titlebar {
    /*background-image: url('/it_dashboard_1/seasonal_customizations/Winter2013/seasonal_bg_snow.png');*/
    background-image: url('/dashboard_common/seasonal_customizations/Winter2013/seasonal_bg_candycane.gif') !important;
    color: black;    
    border-radius: 15px;
}

#floatie_1 {
    position: absolute;
    top: 120px;
    left: -30px;
    width: 150px;
    height: 150px;
    z-index: 999;
}

#floatie_2 {
    position: absolute;
    bottom: 120px;
    right: -10px;
    width: 150px;
    height: 150px;
}

#floatie_3 {
    position: absolute;
    top: 170px;
    right: 10px;
    width: 100px;
    height: 100px;
    animation: ghost 10s infinite linear;
}

#current_date {
	color: white;
	background-color: rgba(0,0,0,0.6);
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

}

#current_time {
	color: white;
	background-color: rgba(0,0,0,0.6);
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 75px;

}

#time_second {
	color: white;
}

#weather_temp {
	color: white;
	background-color: rgba(0,0,0,0.6);
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 75px;
	}

#weather_detail {
	color: white;
	background-color: rgba(0,0,0,0.6);
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 75px;
}

@keyframes ghost {
  10%  {
    transform:scale(1) rotate(-2deg);
    }

  50%  {
    transform:scale(1.1) rotate(2deg);
    }

  90%  {
    transform:scale(1) rotate(-2deg);
    }
}

.tile {
    /*background-image: url('/it_dashboard_1/seasonal_customizations/Winter2013/seasonal_bg_candycane_semitrans.png');*/
    /*border-radius: 5px;*/
}