/*
    This is the seasonal CSS file for Spring
*/


.titlebar {
    background-image: url('bg.png') !important;
    background-color: rgb(157, 198, 216) !important; /* FAAFBE */
    color: black !important;
}

.weather_heading {
    color: black;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 10pt;
}

#weather_temp_feelslike {
    color: black;
}
#weather_detail_description {
    color: black;
}

#weather_temp_feelslike {
    color: black;
}

#weather_tile {
    color: black;
}

#weather_temp {
    color: black;
}

.weather_detail {
    color: black;
}

#current_time {
    color: black;
}

#time_second {
    color: black !important;
}
