/*@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);*/

html {
    padding: 0;
    margin: 0;
}

body{
    background: #151010;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
}

td {
    font-size: 14pt;
    position: relative;
    height: 100%;
}

#bandwidth_graph {
}

#region_map {
    width: 610px;
    height: 900px;
    background-image: url(./lsky_region_map.png);
}

#city_map {
    width: 610px;
    height: 900px;
    background-image: url(./lsky_city_map.png);
}

.top_bar {
    height: 75px;
    text-align: center;
}

.sensor_node {
    width: 340px;
    background-color: #2B3856;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #111111;
    color: white;
    background-position:right bottom;
    background-repeat: no-repeat;
}

.sensor_node_title {
    text-align: center;
    font-weight: bold;
}

.sensor_node_table {
    width: 325px;
    margin-left: auto;
    margin-right: auto;
}

.sensor_node_info {
    margin: 5px;
    color: #C0C0C0;
    text-align: center;
    font-size: 8pt;
    text-transform: uppercase;
}

.sensor_node_data {
    text-align: right;
    background-color: rgba(255,255,255,0.30);
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 11pt;
}

.data_peak {
    border: 3px solid rgba(248, 114, 23, 1);
    background-color: rgba(248, 114, 23, 0.4);
    color: rgba(255, 255, 255, 0.5);
}

.sidebar {
    width: 350px;
    height: 1080px;
}


.offline {
    background-color: #AA0114;
}


.healthy {
    background-color: #99FF99;
}

.warning {
    background-color: #F29D50;
}

.idle_node {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255,255,255,0.2);
}

.offline_node {
    /* background-color: #AA0114;  */
    /* border: 2px solid #770000; */
    animation: fadered 3s infinite linear;
}

.healthy_node {
    background-color: #229922;
    color: black;
    border: 2px solid #007700;

}

.warning_node {
    /* border: 2px solid #770000;   */
    /* background-color: #2B3856; */
    border: 3px solid rgba(248, 114, 23, 1);
    animation: faderedborder 3s infinite linear;
}

.maintenance_node {
    border: 2px solid #000077;
    background-color: #444499;
    color: black;
}

.page_container{
    /*
    width:auto;
    height:auto;
    */
    width: 1920px;
    height: 1080px;
    /*padding: 10px;*/
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.bounce {
    animation: bounce 2s infinite linear;
}

@keyframes bounce {
    0%  {
        transform:scale(1);
    }

    25%  {
    }
    50%  {
        transform:scale(0.96);
    }
    75%  {
    }
    100%  {
        transform:scale(1);
    }
}

.hidden {
    display: none;
}

.bouncerotate {
    animation: bouncerotate 1s infinite linear;
}

/*
 1920 x 1080
*/
.intrusive_error {
    position: absolute;
    top: 500px;
    left: 735px;
    width: 450px;
    padding: 25px;
    border-radius: 5px;
    background-color: rgba(248, 23, 23, 0.8);
    border: 5px solid red;
    display: tablecell;
    vertical-align: middle;
    text-align: center;
    font-size: 20pt;
    color: white;
}

@keyframes bouncerotate {
    0%  {
        transform:scale(1) rotate(1deg);
    }

    25%  {
    }
    50%  {
        transform:scale(0.95) rotate(-1deg);
    }
    75%  {
    }
    100%  {
        transform:scale(1) rotate(1deg);
    }
}

@keyframes fadered {
    0%  {
        background-color: #AA0114;
    }

    25%  {
    }
    50%  {
        background-color: #FF0000;
    }
    75%  {
    }
    100%  {
        background-color: #AA0114;
    }
}

@keyframes faderedborder {
    0%  {
        border: 3px solid #7F462C;
    }

    25%  {
    }
    50%  {
        border: 3px solid rgba(248, 114, 23, 1);
    }
    75%  {
    }
    100%  {
        border: 3px solid #7F462C;
    }
}
