html {
    padding: 0;
    margin: 0;
}

body{
    background: #151010;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
}

td {
    font-size: 14pt;
    position: relative;
    height: 100%;
}

#bandwidth_graph {
}

#region_map {
    width: 610px;
    height: 900px;
    background-image: url(./lsky_region_map.png);
}

#city_map {
    width: 610px;
    height: 900px;
    background-image: url(./lsky_city_map.png);
}

.top_bar {
    height: 75px;
    text-align: center;
}

.sensor_node {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-bottom: 5px;
    /*border: 1px solid rgba(255,255,255,0.1);*/
    color: white;
    background-position:right bottom;
    background-repeat: no-repeat;
}

.sensor_node_title {
    text-align: center;
    font-size: 8pt;
    background-color: rgba(255,255,255,0.2);/* */
    /*background-color: rgba(0,128,0,0.1); /* */
    /* color: rgba(255,255,255,0.1); */
    color: rgba(255,255,255,0.2);
    font-weight: bold;
    text-transform: uppercase;
}

.sensor_node_table {
    width: 325px;
    margin-left: auto;
    margin-right: auto;
}

.sensor_node_info {
    margin: 5px;
    color: rgba(255,255,255,0.1);
    text-align: center;
    font-size: 6pt;
    text-transform: uppercase;
}

.sensor_node_data {
    text-align: right;
    color: rgba(255,255,255,0.4);
    text-align: center;
    padding: 5px;
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Droid Sans', sans-serif;
}

.sensor_node_data_error {
    font-size: 12pt;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    text-transform: uppercase;
    animation: fadered 3s infinite linear;
    font-weight: bold;
}

.data_peak {
    color: orangered;
}

.sidebar {
    width: 350px;
    height: 1080px;
}


.offline {
}


.healthy {
    background-color: #99FF99;
}

.warning {
    background-color: #F29D50;
}

.idle_node {
}

.offline_node {
    /* background-color: #AA0114;  */
    /* border: 2px solid #770000; */
    animation: fadered 3s infinite linear;
}

.offline_node_title {
    background-color: red;
    color: white;
}

.warning_node_title {

}

.data_peak_title {
    background-color: orangered;
    color: white;
}

.idle {
    color: rgba(128,128,128,0.1);
}

.page_container{
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.hidden {
    display: none;
}

.intrusive_error {
    position: absolute;
    top: 500px;
    left: 735px;
    width: 450px;
    padding: 25px;
    border-radius: 5px;
    background-color: rgba(248, 23, 23, 0.8);
    border: 5px solid red;
    display: none;
    vertical-align: middle;
    text-align: center;
    font-size: 20pt;
    color: white;
}

.total_traffic_node {

}

.total_traffic_data {
    font-size: 16pt;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}

.total_traffic_title {
    font-size: 8pt;
    font-weight: bold;
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    color: #151010;
    background-color: rgba(255,255,255,0.2);
}

.total_traffic_info {
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    font-size: 7pt;
    text-transform: uppercase;
    color: rgba(255,255,255,0.3);
}

.semitrans {
    color: rgba(255,255,255,0.1);
}

@keyframes bouncerotate {
    0%  {
        transform:scale(1) rotate(1deg);
    }

    25%  {
    }
    50%  {
        transform:scale(0.95) rotate(-1deg);
    }
    75%  {
    }
    100%  {
        transform:scale(1) rotate(1deg);
    }
}

@keyframes fadered {
    0%  {
        border-color: #330000;
        color: #990000;
    }

    25%  {
    }
    50%  {
        border-color: #FF0000;
        color: #FF0000;
    }
    75%  {
    }
    100%  {
        border-color: #330000;
        color: #990000;
    }
}

@keyframes faderedborder {
    0%  {
        border: 3px solid #7F462C;
    }

    25%  {
    }
    50%  {
        border: 3px solid rgba(248, 114, 23, 1);
    }
    75%  {
    }
    100%  {
        border: 3px solid #7F462C;
    }
}
