.lyncUsername {
    font-size: 16pt;
    border-bottom: 2px solid rgba(255,255,255,0.3);
    padding: 5px;
    padding-left: 5px;
}

.lyncLocation {
    overflow: hidden;
    font-size: 16pt;
    border-bottom: 2px solid rgba(255,255,255,0.3);
    padding: 5px;
}

.lyncLocation_SmallFont {
    font-size: 13pt;
}

.lyncPresence {
    font-size: 4pt;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    border: 3px solid rgba(255,255,255,0.1);
    vertical-align: middle;
    text-align: center;
    display: none;
}

.lyncPresence_Online {
    border-bottom: 2px solid rgba(0,255,0,0.9);
}

.lyncPresence_Offline {
    color: rgba(255,255,255,0.4);
}

.lyncPresence_BeRightBack {
    border-bottom: 2px solid rgba(255, 255, 0,1);
}

.lyncPresence_DoNotDisturb {
    border-bottom: 2px dashed rgba(255,0,0,0.8);
}

.lyncPresence_IdleOnline {
    border-bottom: 2px solid rgba(255, 255, 0,1);
}

.lyncPresence_IdleBusy {
    border-bottom: 2px solid rgba(255, 255, 0,1);
}

.lyncPresence_Away {
    border-bottom: 2px solid rgba(255, 255, 0,1);
}

.lyncPresence_Busy {
    border-bottom: 2px solid rgba(255,0,0,0.8);
}

.lyncLocation_Offline {
    color: rgba(255,255,255,0.4);
}

.lyncTD {
    border: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.lyncTR {
    border: 0;
}

.lync_updating {
    font-size: 10pt;
    color: rgba(255,255,255,0.3);
}